src/main/mule/scheduler-cron.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="scheduler-cronFlow" doc:id="c3536acc-a7ec-4917-9743-39e6979c058a" >
		<scheduler doc:name="Scheduler" doc:id="d3562149-1482-4e9e-b56c-ec6705189d01" >
			<scheduling-strategy >
				<cron expression="17/5 * * * * ?" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="595f2149-b38f-41cd-becd-1e3fde65bb56" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'Triggered at': now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="349f0bb8-1dff-4309-b058-16ae73e62235" path="C:\Mulesoft\DataUsed\scheduler_cron.json" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="05919f82-8e1a-47f3-8f7d-39e9b4961421" message="Triggered at #[now()]"/>
	</flow>
</mule>
